{% extends 'base.html' %}

{% block title %} Ваши оповещения {% endblock title %}


{% block content %}

    <section>
        <nav class="bg-dark h-25 d-flex justify-content-between align-items-center">
            {% if user.is_authenticated %}
                <h5><a class="text-white fs-4 p-2" href="/auth/profile/">{{ user }}</a></h5>
                <h5><a class="text-white fs-4 p-2" href="/auth/logout/">Выйти</a></h5>
            {% endif %}
        </nav>
        <div>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <a class="btn btn-outline-primary m-2" href="/notifications/create/">Добавить оповещение</a>
                    <a class="btn btn-outline-primary m-2" href="/notifications/create_periodical_notification/">Добавить периодичное оповещение</a>
                </div>

                <a class="btn btn-outline-primary m-2" href="/notifications/add_notification_type/">Добавить новую категорию для оповещений</a>
            </div>
            {% if notifications.count >= 1 %}
                {% for notification in notifications %}
                    {% if notification.notification_single %}
                        {% include 'snippets/notification_single.html' with id=notification.notification_single.id %}
                    {% else %}
                        {% include 'snippets/notification_periodic.html' with id=notification.notification_periodic.id %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <h1 class="text-center position-absolute top-50 start-50 translate-middle text-dark fs-2">Пока что у вас нет никаких оповещений ;><br></h1>
            {% endif %}
        </div>
    </section>
{% endblock content %}