{% extends 'base.html' %}

{% block title %} Read tasks {% endblock title %}


{% block content %}
    <section>
        <nav class="bg-dark h-25 d-flex justify-content-between align-items-center">
            {% if user.is_authenticated %}
                <h5 class="text-white fs-4 p-2">{{ user }}</h5>
                <h5><a class="text-white fs-4 p-2" href="/auth/logout/">Log Out</a></h5>
            {% endif %}
        </nav>
        <div>
            <a class="btn btn-outline-primary m-2" href="/notifications/create/">Добавить</a>
            {% if notifications.count > 0 %}
                {% for notification in notifications %}
                    <div class="border m-2 p-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5>{{ notification.notification_task_type }}</h5>
                            <div>
                                <a href="/notifications/edit/{{ notification.id }}/">Edit</a>
                                <a href="/notifications/delete/{{ notification.id }}/">Delete</a>
                            </div>
                        </div>
                        <p class="pt-2 pb-2">{{ notification.text }}</p>
                        <h5>Дата напоминания: {{ notification.notification_date }} {{ notification.notification_time }}</h5>
                        {% if notification.notification_periodicity == True %}
                            <h5>Постоянно напоминать - {{ notification.notification_periodicity_num }}</h5>
                        {% else %}
                            <h5>Не напоминать постоянно</h5>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <h1 class="text-center position-absolute top-50 start-50 translate-middle text-dark fs-2">You don`t have any notifications <br><a class="fs-4 text-decoration-none" href="/notifications/create/">Create a new one ;></a> </h1>
            {% endif %}
        </div>
    </section>
{% endblock content %}